<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
      <category
            id="org.selector.adt.ui.category"
            name="SelecTor"/>
      <view
            id="org.selector.adt.ui.view"
            name="SelecTor Data Explorer"
            category="org.selector.adt.ui.category"
            class="org.selector.adt.ui.SelectorView"
            allowMultiple="true"
            restorable="true"/>
   </extension>
</plugin>
